{% extends "base.html" %}
{% load custom_markdown %}
{% block mainbody %}
<div class="container">



<main role="main" class="homepage">

  
<h1 class="site-title">
Salts'</br>programming blog
</h1>

<div class="hero-logo">
  <img src="/static/base16-eighties.svg">
</div>

<div style="text-align: center;">
  Programming theory, web, Python , php
</div>


  <h1 class="headline">Recent Posts</h1>

  <div class="article-list">
    
{% for blog in blogs %}     
    <article class="list-item" itemscope itemtype="http://schema.org/Blog">
      <h2 class="headline" itemprop="headline"><a href="{% url 'blog_get_detail' blog.id %}">{{ blog.title }}</a></h2>
      <div class="meta">

        <span class="key">published on</span>
        <span class="val"><time itemprop="datePublished" datetime="2017-11-21">{{ blog.created |date:"Y-m-d H:i" }}</time></span>

      </div>
      <section class="summary">
        <p>{{ blog.content|custom_markdown|truncatechars:100 }}</p>

    <p></p>  <a href="{% url 'blog_get_detail' blog.id %}">Read More...</a>

      </section>
    </article>
{% endfor %}
    
  
  </div>

  <h1 class="headline">Categories</h1>

  <section class="categories">
{% for category in categories %}    
    <h2 class="category">
      <a href="{% url 'blog_get_category' category.name %}">{{ category.name }}</a>
      <small>(10)</small>
    </h2>
{% endfor %}    
  </section>





  <h1 class="headline">Tags</h1>

  <section class="tags">
{% for tag in tags %}    
    <span class="tag">
      <a href="{% url 'blog_get_tag' tag.name %}">{{ tag.name }}</a>
      <small>(10)</small>
    </span>
{% endfor %}    
    
  </section>

{% endblock %}
